@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  border-bottom: solid 2px orange;
}

