@charset "UTF-8"; /*文字化け防止*/

h1 {
  font-size: 100px;
}

.layout {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #333;
}

.box:nth-of-type(2) {
  background-color: #eee;
}


/*768以下 iPad*/
@media screen and (max-width: 768px) {
  h1 {
    color: red;
    font-size: 20px;
  }

  .layout {
    display: block;
  }
}
