/* .box1 {
  background-color: aqua;
}

@media (max-width: 1200px) {
  .box1 {
    background-color: blue;
  }
  .box1:before {
    font-size: 0.8rem;
    content: "XL";
  }
}

@media (max-width: 992px) {
  .box1 {
    background-color: yellow;
  }
  .box1:before {
    font-size: 0.8rem;
    content: "L";
  }
}

@media (max-width: 768px) {
  .box1 {
    background-color: pink;
  }
  .box1:before {
    font-size: 0.8rem;
    content: "M";
  }
}

@media (max-width: 576px) {
  .box1 {
    background-color: green;
  }
  .box1:before {
    font-size: 0.8rem;
    content: "S";
  }
} */

/* index2学習用 */
/* div {
  background-color: green;
}

@media (min-width: 600px) {
  div {
    background-color: pink;
  }
} */



/* アプリ用 */
.top {
  padding: 50px 30px;
}

.top-image {
  height: 31rem;
  width: 100%;
  background-color: yellow;
}

.top-group {
 
}

.tag-list {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 0 4px #dcdcdc;
}

.top-contents__shop {
  padding: 32px 12px;
  position: relative; /* 帯の表示位置の基準とする */
}

.top-contents__shop p {
  color: #fff;
  text-align: center;
  width: 100%;         /* 画像の幅に合わせるため */
  padding: 10px 0;
  position: absolute;  /* relativeの要素を基準にする */
  left: 0;             /* 基準からみて左寄せ */
  bottom: 0;           /* 基準からみて下寄せ */
  background: rgba(0,0,0,0.5);  /* 半透明の背景。 */
}

.top-contents__shop img {
  width: 100%;
}

.onimg {
  width: 300px;        /* 画像の横幅（自由に指定） */
  position: relative;  /* 帯の表示位置の基準とする */
}

.onimg img {
  width: 100%;
}

.onimg p {
  color: #fff;
  text-align: center;
  width: 100%;         /* 画像の幅に合わせるため */
  padding: 10px 0;
  position: absolute;  /* relativeの要素を基準にする */
  left: 0;             /* 基準からみて左寄せ */
  bottom: 0;           /* 基準からみて下寄せ */
  background: rgba(0,0,0,0.5);  /* 半透明の背景。 */
}
